.ExtensionBar {
    /*border:solid 1px grey;*/
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    color:white;
    background-color: hsl(225, 23%, 24%);
    position: relative;
}
body {
    background-color: #091540 ;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.ExtensionListBody{
    padding: 0 50px 0 50px;
}

.moonimage {
    position: absolute;
    right: 0;
    top: 50%;
    border:solid 1px grey;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    margin-right:10px;
    transform: translateY(-50%);  /*Centers the image vertically */
}

.ExtensionListHeader{
    padding-left: 50px;
    color:white;
    position: relative;
}
.Buttons{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);  /*Centers the image vertically */   
}

.button1, .button2, .button3{
    background-color: hsl(225, 23%, 24%);
    color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
.button1:hover, .button2:hover, .button3:hover{
    background-color: hsl(3, 86%, 64%);
}





